

.peritext-draft-ContentEditor{
  position: relative;

  overflow: visible;

  .DraftEditor-root
  {
    position: relative;
    .public-DraftEditorPlaceholder-inner
    {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}