

.scholar-draft-PopoverControl{
  display: none;
  
  height: 24px;
  display: none;
  position: absolute;
  z-index: 999;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transition: all .1s ease;
}